body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgb(51, 70, 77), rgb(17, 17, 71));
}

.header, .main, .results-container {
    display: flex;
}

/* HEADER */

.header {
    background-color: #1F2937;
    height: 75px;
    justify-content: center;
    align-items: center;
    gap: 550px;
}

.header a {
    text-decoration: none;
    font-style: none;
    color: white;
}

.left-header {
    width: 200px;
}

.right-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 30px;
}

.header h1 {
    text-align: center;
}

.right-header img {
    height: 50px;
}

/* DESCRIPTION PARAGRAPH */

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 320px;
    font-size: 25px;
}

.description-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

/* FLEXBOX FOR MAIN GAME */

.main {
    height: 1100px;
}

/* GIF ELEMENT */

.gif {
    flex: 1;
}

/* TWO BOXES EITHER SIDE OF GIF */

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    flex-shrink: 0;
}

/* BUTTONS INSIDE BOXES */

button {
    width: 250px;
    height: 250px;
    border-radius: 100px;
}

.main img {
    width: 250px;
    height: 250px;
    border-radius: 100px;
}

li {
    list-style: none;
}

.paper-scissors-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 500px;
    padding-bottom: 50px;
    padding-top: 35px;
}

.rock-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESULTS */

.results-container {
    flex-direction: row;
    justify-content: center;
    height: 270px;
    margin-top: 0px;
}

.user, .computer, .draw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 40px;
}

.user p, .computer p, .draw p { 
    height: 50px;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #1F2937;
    color: white;
    font-size: 25px;
}
